---
import { Image } from "astro:assets";
import Header1600Stor from "../../images/img/banner/banner_00-stor_1600px.webp";
import Header1600Smal from "../../images/img/banner/banner_00-smal_1600px.webp";
import { SITE_CONFIG } from "../../config";
import NightDay from "../layout/NightDay.astro";

const year = SITE_CONFIG.currentYear;

const { variant = "stor" } = Astro.props;

const headerImg = variant === "stor" ? Header1600Stor : Header1600Smal;
const headerHeight = variant === "stor" ? 500 : 250;
const headerTitle = variant === "stor" ? `Fyrstikken ${year}` : "Fyrstikken";
const textContent =
  variant === "stor"
    ? "Her kan du stemme på publikumsprisen, se på forskjellige elevprosjekter og lære mer om dem."
    : "Her kan du se tidligere vinnere og nominerte";
---

<header>
  <Image
    src={headerImg}
    height={headerHeight}
    quality={"max"}
    loading="eager"
    alt="Regnbuefarget abstrakt kunst som symboliserer de ulike fagområdene i oppdragsbanken"
    class="header-img"
  />
  <div id="nightDay">
    <NightDay />
  </div>
  <div id="headerText">
    <h1>{headerTitle}</h1>
    <p>{textContent}</p>
  </div>
</header>

<style>
  .header-img {
    width: 100vw;
  }
  header {
    position: relative;
    width: fit-content;
    max-width: 1600px;
    margin-inline: auto;
  }
  #headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
  }
  #nightDay {
    position: absolute;
    top: 1rem;
    right: 0;
  }
  h1,
  p {
    color: var(--dark-tekst);
    max-width: 50ch;
  }
</style>
