---
import { Image } from "astro:assets";
import Header1600Stor from "../../images/img/banner/banner_00-stor_1600px.webp";
import Header1600Smal from "../../images/img/banner/banner_00-smal_1600px.webp";
import { SITE_CONFIG } from "../../config";
import NightDay from "../layout/NightDay.astro";

const year = SITE_CONFIG.currentYear;

const { variant = "stor" } = Astro.props;

let headerImg, headerHeight, headerTitle, textContent;

switch (variant) {
  case "stor":
    headerImg = Header1600Stor;
    headerHeight = 500;
    headerTitle = `Fyrstikken ${year}`;
    textContent = "Her kan du stemme på publikumsprisen, se på forskjellige elevprosjekter og lære mer om dem.";
    break;
  case "smal":
    headerImg = Header1600Smal;
    headerHeight = 250;
    headerTitle = "Fyrstikken";
    textContent = "Her kan du se tidligere vinnere og nominerte";
    break;
  case "sendinn":
    headerImg = Header1600Smal;
    headerHeight = 250;
    headerTitle = `Fyrstikken ${year}`;
    textContent = "Her kan du sende inn ditt prosjekt til Fyrstikken";
    break;
  default:
    headerImg = Header1600Smal;
    headerHeight = 250;
    headerTitle = "";
    textContent = "";
    break;
}
---

<header>
  <Image
    src={headerImg}
    height={headerHeight}
    quality={"max"}
    loading="eager"
    alt="Regnbuefarget abstrakt kunst som symboliserer de ulike fagområdene i oppdragsbanken"
    class="header-img"
  />
  <a href="/" id="hjem">
    <div class="svgIkon" id="hjemIkon"></div>
  </a>
  <div id="nightDay">
    <NightDay />
  </div>
  <div id="headerText">
    <h1>{headerTitle}</h1>
    <p>{textContent}</p>
  </div>
</header>

<style>
  .header-img {
    width: 100vw;
  }
  header {
    position: relative;
    width: fit-content;
    max-width: 1600px;
    margin-inline: auto;
  }
  #headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
  }
  #nightDay {
    position: absolute;
    top: 1rem;
    right: 0;
  }
  h1,
  p {
    color: var(--dark-tekst);
    max-width: 50ch;
  }
  .svgIkon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    vertical-align: middle;
    background-color: var(--light-main);
    -webkit-mask: var(--ikon-url) no-repeat center / contain;
    mask: var(--ikon-url) no-repeat center / contain;
  }
  #hjemIkon {
    --ikon-url: url(../../../public/ikonHjem.svg);
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  /* #hjem {
    display: block;
    width: 35px;
    height: 35px;
  } */
</style>
